<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contact_no %><br>
    <%= f.number_field :contact_no %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_field :interest %>
  </div>

<br>

 <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Team Details</a></li>
        <li><a href="#tabs-2">Department Details</a></li>
      </ul>
      <div id="tabs-1">
        <%= f.fields_for :teams do |builder| %>
            <%= render 'team_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add Team details", f, :teams %><br><br>
      </div>
      <div id="tabs-2">
        <%= f.fields_for :departments do |phonebuilder| %>
            <%= render 'department_fields', f: phonebuilder %>
        <% end %>
        <%= link_to_add_fields "Add Department details", f, :departments %><br><br>
      </div>
    </div><br>
    <div class="actions">
      <%= f.submit %>
    </div>


<% end %>
